.ludoContainer{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap:50px;
}

#ludoboard{
    width: 100%;
    height: 100%; 
    max-width: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas:
    'red-board red-board green-path green-board green-board'
    'red-board red-board green-path green-board green-board'
    'red-path red-path win-zone yellow-path yellow-path'
    'blue-board blue-board blue-path yellow-board yellow-board'
    'blue-board blue-board blue-path yellow-board yellow-board';
    ;
}

.ludobox{
    border: 1px solid rgb(194, 194, 194);
    position: relative;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.ludobox .fa-location-pin{
    margin: 2px;
    position: static;
    font-size: 1.8rem;
    -webkit-text-stroke-width: 2px;
    z-index: 100;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}
.piece-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.piece-container .piece {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.piece-container .piece:nth-child(1) {
  top: 25%;
  left: 25%;
}
.piece-container .piece:nth-child(2) {
  top: 25%;
  right: 25%;
}
.piece-container .piece:nth-child(3) {
  bottom: 25%;
  left: 25%;
}
.piece-container .piece:nth-child(4) {
  bottom: 25%;
  right: 25%;
}

#red-board{
    grid-area: red-board;
    background-color: red;
}

#yellow-board{
    grid-area: yellow-board;
    background-color: yellow;
}

#green-board{
    grid-area: green-board;
    background-color: green;
}

#blue-path{
    grid-area: blue-path;
}

#green-path{
    grid-area: green-path;
}

#yellow-path{
    grid-area: yellow-path;
}
#red-path{
    grid-area: red-path;
}

#blue-board{
    grid-area: blue-board;
    background-color: rgb(29, 29, 252);
}

#win-zone{
    grid-area: win-zone;
    background-color: rgb(246, 199, 139);
}

.verticalPath {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr); 

}

.horizontalPath {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
    grid-template-rows: repeat(3, 1fr);
}

.board{
    padding : 12px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special{
    background-image: url("../assets/star.png");
    background-size: cover;       
    background-repeat: no-repeat;
    background-position: center;
}

.board div{
    width: 80%;
    height: 80%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.board div span{
    width: 50%;
    height: 50%;
    border-radius:50%;
    position: relative;
}



#red-board div span{
    background-color: red;
}
#yellow-board div span{
    background-color: yellow;
}
#green-board div span{
    background-color: green;
}
#blue-board div span{
    background-color: blue;
}

.ludobox{
    border: 1px solid rgb(171, 171, 171);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-active{
    animation: red-shineColor 1.2s ease-in-out infinite;
    z-index: 150;

}

@keyframes red-shineColor {
  0% {
    color: #8B0000; /* Dark red */
  }
  50% {
    color: #f88e8e; /* Bright/shiny red */
  }
  100% {
    color: #8B0000; /* Back to dark red */
  }
}


.blue-active{
    animation: blue-shineColor 1.2s ease-in-out infinite;
    z-index: 150;
}

@keyframes blue-shineColor {
  0% {
    color: #001164; /* Dark red */
  }
  50% {
    color: #575ff9; /* Bright/shiny red */
  }
  100% {
    color: #001164; /* Back to dark red */
  }
}

.green-active{
    animation: green-shineColor 1.2s ease-in-out infinite;
    z-index: 150;

}

@keyframes green-shineColor {
  0% {
    color: #1e5100; /* Dark red */
  }
  50% {
    color: #45f176; /* Bright/shiny red */
  }
  100% {
    color: #1e5100; /* Back to dark red */
  }
}


.yellow-active{
    animation: yellow-shineColor 1.2s ease-in-out infinite;
    z-index: 150;
}

@keyframes yellow-shineColor {
  0% {
    color: #776d00; /* Dark red */
  }
  50% {
    color: #bcc900; /* Bright/shiny red */
  }
  100% {
    color: #776d00; /* Back to dark red */
  }
}


.redLudoBox{
    background: red;
}
.blueLudoBox{
    background: blue;
}
.greenLudoBox{
    background: green;
}
.yellowLudoBox{
    background: yellow;
}

.board .piece {
    position: absolute;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    top : 50%;
    left : 50%;
    transform:  translate(-50%,-90%);
    font-size: 2.3rem;
    z-index : 100;
}
.active{
    animation: animateBoard .8s linear infinite;
}

@keyframes animateBoard {
    0%{
        filter: brightness(100%);
    }
    50%{
        filter: brightness(70%);
    }
    100%{
        filter: brightness(100%);
    }
}


.red-piece {
    color : rgb(247, 148, 148);
    z-index: 100;
}
.blue-piece{
    color: rgb(138, 138, 255);
    z-index: 100;

}


.green-piece{
    color: rgb(144, 241, 144);
    z-index: 100;


}

.yellow-piece{
    color: rgb(204, 204, 0);
    z-index: 100;
}

